@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.input-box {
  @apply w-full border border-gray-300 rounded-lg px-4 py-3 text-gray-800 bg-gray-50 focus:ring-2 focus:ring-blue-600 focus:outline-none;
}

.input-error {
  @apply border-red-500 bg-red-50;
}

.error-text {
  @apply text-red-600 text-sm mt-1;
}

