@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.input-box {
  @apply w-full border border-gray-300 rounded-lg px-4 py-3 text-gray-800 bg-gray-50 focus:ring-2 focus:ring-blue-600 focus:outline-none;
}

.input-error {
  @apply border-red-500 bg-red-50;
}

.error-text {
  @apply text-red-600 text-sm mt-1;
}

@theme {
  --color-bg-main: #F8FAFC;        /* slate-50 */
  --color-bg-surface: #FFFFFF;     /* white */
  
  --color-text-primary: #0F172A;   /* slate-900 */
  --color-text-secondary: #475569; /* slate-600 */
  
  --color-border: #E2E8F0;         /* slate-200 */


  --color-accent: #155dfc;        /* SAME BLUE */
  --color-accent-hover: #0952ef;
}

.dark {
  --color-bg-main: #0F172A;       /* EXACT HERO BG */
  --color-bg-surface: #1E293B;    /* SECONDARY BG */

  --color-text-primary: #F8FAFC;  /* ALMOST WHITE */
  --color-text-secondary: #CBD5E1;

  --color-border: #334155;

  --color-accent: #155dfc;        /* SAME BLUE */
  --color-accent-hover: #0952ef;  /* LIGHT BLUE */
}

  :root, .dark {
  transition: background-color 0.3s ease, color 0.3s ease;
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) var(--color-bg-surface);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}